.header {
  padding: 20px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 520px) {
  .flex-center {
    display: block;
  }
}

.form-search {
  width: 100%;
  max-width: 850px;
}

.search-label {
  width: 100%;
  max-width: 500px;
  height: 44px;
  position: relative;
}

.search-input {
  width: 100%;
  height: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 22px;
  padding-left: 20px;
  padding-right: 35px;
}

@media (max-width: 520px) {
  .search-input {
    margin: 20px 0;
    width: 90%;
    height: 44px;
  }
}

.search-submit {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
}

.title-wrapper {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 20px 0;
}

.title-search {
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 480px) {
  .title-search {
    font-size: 22px;
  }
}

.news {
  padding: 40px 0 50px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: space-evenly;
  gap: 40px 20px;
}

.news-item {
  display: flex;
  flex-direction: column;
}

.news-image {
  width: 100%;
  height: 270px;
  margin-bottom: 10px;
  object-fit: cover;
}

.news-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  background-image: url('../image/arrow.svg');
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 30px;
  transition: color .3s ease-in-out;
}

.news-link:hover {
  color: #09E079;
}

.news-description {
  font-size: 12px;
  margin-bottom: 10px;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 10px;
  color: #8E8E8E;
}

.news-datetime {
  display: flex;
}

.news-date {
  display: block;
  margin-right: 12px;
}

.footer {
  padding: 22px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 480px) {
  .footer-container {
    display: block;
  }
}

.footer-logo {
  justify-self: start;
  align-self: center;
}

.copyright {
  justify-self: center;
  align-self: end;
  font-size: 12px;
}

@media (max-width: 480px) {
  .copyright {
    margin: 20px 0;
  }
}

.social-list {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-self: end;
  align-self: center;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  color: #09E079;
}

.social-link:hover {
  color: #0f5e37;
}